@import "~normalize.css";
@import "comfortaa.css";

.container {
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
}

.logo {
    background-image: url("../assets/wp.png");
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}